<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Olá! Me chamo Gabriel Maurici e sou estudante de Análise e Desenvolvimento de Sistemas da UNIVALI</p>
        </div>
    </main>
    
    <%- include('../partials/footer'); %>

</body>
</html>